<a href="https://colab.research.google.com/github/Lucianoff/Alura-Machine_Learning/blob/main/Proj_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = {
    "home" : "inicial",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprado",
}

dados = dados.rename(columns = mapa)

dados.head()

   inicial  como_funciona  contato  comprado
0        1              1        0         0
1        1              1        0         0
2        1              1        0         0
3        1              1        0         0
4        1              1        0         0

In [ ]:
x = dados [["inicial", "como_funciona", "contato"]]
y = dados [["comprado"]]

y.head()

   comprado
0         0
1         0
2         0
3         0
4         0

In [ ]:
y.value_counts()

comprado
0           66
1           33
dtype: int64

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

SEED = 42

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = SEED, stratify = y)

modelo = LinearSVC()
modelo.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [ ]:
predicao = modelo.predict(x_test)

taxa_de_acerto = accuracy_score(y_test, predicao)
print("A taxa de acerto do meu modelo é de %.2f%%" % (taxa_de_acerto*100))

A taxa de acerto do meu modelo é de 96.00%

In [ ]:
y_test.value_counts()

comprado
0           17
1            8
dtype: int64

In [ ]:
y_train.value_counts()

comprado
0           49
1           25
dtype: int64